.messagesscroller{
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;

    position:relative;
}

.messageslist{
	padding: 60px 20px 80px;
	margin: 0;
	list-style: none;
	width: 100%;
	float: left;

	@include box-sizing('border-box');

	.message{
		float: right;
		clear: both;
		background:#2a9efd;
		color:#fff;
		margin: 0 0 10px;
		padding: 5px 10px;

		@include border-radius(5px);

		.user{
			font-weight: bold;
			font-size: .75em;
		}


		&.currentuser{
			float: left;
			background:#e5e5ea;
			color:#000;
		}

		.body{
			margin: 0;
			font-size: 1em;
		}

		.timeago{
			font-size: .75em;
			opacity: .6;
		}
	}
}